@import url("../trivia-shared.module.css");

.sampleHeader {
	p {
		color: #ffffff;
		height: 1em;
		display: flex;
		align-items: center;
		gap: 0.25em;
		&[data-new] {
			color: #ffff00;
		}
	}
}

.correct {
    color: #00ff00;
}