@property --t {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}

.title {
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	.logo {
		width: 25em;
		position: relative;
		display: grid;
		align-items: stretch;
		justify-content: stretch;
		& > * {
			grid-area: 1 / 1;
		}
		img {
			width: 100%;
			display: block;
		}
		.logoOverlay {
			width: 100%;
			height: 100%;
			mask-image: url("../assets/img/deltarune_no_heart.svg");
			mask-size: 100% 100%;
			animation: overlay-fade 2s linear 1s forwards;
		}
		.logoSolidOverlay {
			background-color: #ffffff;
			opacity: var(--t);
		}
		.logoImageOverlay {
			background-image: url("../assets/img/star.gif");
			background-size: 1em 1em;
			animation:
				scroll-bg 1s infinite linear,
				overlay-fade 2s linear 1s forwards;
			opacity: calc(1 - var(--t));
		}
	}
	h1 {
		margin: 0;
		margin-top: -0.5em;
		color: #ffff00;
		z-index: 1;
	}
}

.panes {
	display: grid;
	grid-template-columns: 8em 12em;
	margin: 0 auto;
	margin-top: 0.5em;
	font-size: 1.5em;
	gap: 0.25em;
	.wide {
		grid-template-columns: 10em 12em;
	}
}
.gray {
	color: #888888;
}
.main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

@keyframes overlay-fade {
	from {
		--t: 0;
	}
	to {
		--t: 1;
	}
}

@keyframes scroll-bg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 1em 1em;
	}
}

@media (width < 1225px) {
	.title {
		font-size: 1em;
	}
	.panes {
		font-size: 1.25em;
	}
}

@media (width < 990px) {
	.panes {
		grid-template-columns: 12em;
	}
}

@media (width < 800px) {
	.title {
		font-size: 0.75em;
	}
}

@media (width < 620px) {
	.title {
		font-size: 0.6em;
	}
	.panes {
		font-size: 1em;
	}
}

@media (width < 500px) {
	.title {
		font-size: 0.5em;
	}
	.panes {
		grid-template-columns: 9em;
	}
}

@media (width < 400px) {
	.title {
		font-size: 0.4em;
	}
	.panes {
		grid-template-columns: 9em;
	}
}
