.canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
}
.xContainer {
	display: flex;
	gap: 1em;
	margin: 1em 0;
	justify-content: center;
}
.x {
	display: flex;
	color: #44444488;
	font-size: 3em;
	border: 0.1em solid currentColor;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-left: 0.06em;
	width: 0.82em;
	height: 1em;
	padding-bottom: 0.04em;
	&[data-active] {
		color: #ff0000;
	}
}
.wrong {
	color: #ff0000;
	display: flex;
	flex-direction: column;
}
.correct {
	color: #00ff00;
}
.wrong {
	color: #ff0000;
}
.form {
	width: 18em;
	display: flex;
	flex-direction: column;
    gap: 0.25em;
    align-items: center;
}
.inputRow {
    display: flex;
    gap: 0.25em;
    input {
        width: 14em;
    }
}
.container {
    margin: 0 auto;
	margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    input, button {
        background-color: #00000044;
    }
}