.slider {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 0.25em;
	height: 7em;
	*[data-upper] {
		height: 0 !important;
	}
}

.sliderContainer {
    height: 100%;
    position: relative;
    display: flex;
}