@import url("../trivia-shared.module.css");

.sampleHeader {
	p {
		color: #ffffff;
		height: 1em;
		display: flex;
		align-items: center;
		gap: 0.25em;
		&[data-new] {
			color: #ffff00;
		}
	}
}

.timeLine {
    position: fixed;
    height: 100vh;
    pointer-events: none;
    width: 1px;
    background-color: #ffffffee;
    left: calc(var(--t) * 100vw);
    z-index: -1;
}