*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	background-color: #000000;
}
html,
body,
#app {
	min-height: 100%;
	font-family: "Determination Sans", sans-serif;
	color: #ffffff;
	font-size: 32px;
    margin: 0;
    image-rendering: pixelated;
}

body {
	height: 100dvh;
}

.audioClickPrompt {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000063;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	cursor: pointer;
}

@font-face {
	font-family: "Determination Mono";
	src: url("./assets/font/DeterminationMonoWeb.woff");
	font-weight: 100 1000;
}
@font-face {
	font-family: "Determination Sans";
	src: url("./assets/font/DeterminationSansWeb.woff");
	font-weight: 100 1000;
}


input {
	border: #ffffff solid 0.16em;
	background-color: transparent;
	color: #ffffff;
	padding: 0.2em 0.4em;
	font-size: 1em;
	font-family: inherit;
	&:disabled {
		border: #888888 solid 0.16em;
		color: #888888;
	}
}

p {
    margin: 0;
}